
.s_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;  
}

.service{
background: var(--color_variant);
border-radius: 0 0 2rem 2rem;
border: 1px solid var(--color_primary);
height:fit-content;
transition:var(--transition);
margin-top: 2rem;
}
.service:hover{
    cursor: default;
    border-color: var(--color_variant);
    background: transparent;
}
.s_head{

    background: var(--color_primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0,0, 0, 0.1);
}

.s_head>h3{
    font-size: 1rem;
    text-align: center;

    color:var(--color_bg);
}

.s_list li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;

}
.s_icons{
color: var(--color_primary);
margin-top: 5px;
padding-left: 5px;
}
.s_list p{
    font-size: 0.9rem;
}


/* ==============Media Query Fro MEDIUM SCREENs===============*/
@media screen and (max-width: 1024px)
{
.s_container   { 
grid-template-columns: 1fr 1fr;
gap:2rem;
margin-top: 2rem;
}



.service      {height: auto;}
}
    

/* ==============Media Query Fro SMALL SCREENs===============*/
@media screen and ( max-width: 600px)
{
    .s_container   { 
    grid-template-columns: 1fr;
    gap:1.5rem;
    font-size: ;
    
    }
    .service      {height: auto;}
    }

